<div class="banner">
  <div class="container">
        <h1 class="name-banner hidden-xs hidden-sm">HI, I'M THIBAULT</h1>
        <h1 style="font-size: 80px" class="hidden-md hidden-lg">THIBAULT</h1>
        <p class="banner-job">Full Stack Developer</p>
        <p class="banner-description">Front-end oriented !</p>
        <a href="#bio-link" class="btn-banner btn-lg">Let's start</a>
        <div class="mouse">
          <span></span>
        </div>
</div>
    </div>

<script>
    $(function () {
        // hide .navbar first

        // fade in .mouse
        $(function () {
          $(window).scroll(function () {
                  // set distance user needs to scroll before we fadeIn mouse
                  if ($(this).scrollTop() > 100) {
                    $('.mouse').fadeOut("slow");
                  } else {
                    $('.mouse').fadeIn("slow");
                  }
                });
        });
      });
    </script>


