<div class="banner" style="background-image: linear-gradient(-225deg, rgba(174, 103, 116,0.4) 0%, rgba(144, 47, 64,0.4) 50%);">
      <div>
        <h1>HI, I'M THIBAULT</h1>
        <p>Full Stack Developer</p>
        <p class="banner-description">Front-end oriented !</p>
        <a href="#bio-link" class="btn-banner btn-lg">Let's start</a>
        <div class="mouse">
          <span></span>
        </div>
      </div>
    </div>


