<!-- BIO -->
<div id="bio-link" class="wrapper">
  <a id="bio-jump"><p class="title-bio">BIO</p></a>
  <div class="container">
    <div class="row">
        <div class="col-md-3 avatar-bio">
          <img src="/assets/avatar.JPG" class="avatar-bio">
        </div>
        <div class="col-md-9 p-bio text-justify"><p> &emsp;I have been passionate about the entrepreneurial and start-up world since a very young age. My focus was not directed towards a particular industry but towards any business/start-up whose goal is to satisfy existent needs in the market or to ascend in the domain they belong to by participating in innovation and development.<br><br>My interest in both the technical and business side of the creative process flourished with the ideas I had, however, I could not test them due to a lack of technical knowledge. I decided to enroll in LeWagon Programming boot camp to be able to do MVP. As a dedicated and motivated developer, once I completed the boot camp, I kept working on side projects to develop my knowledge while finishing my studies at McGill University.<br><br>As for the purpose of this portfolio, I am seeking a junior level position as a front-end developer or full stack developer within a dynamic company or start up. Please have a look at my portfolio below !</p></div>
    </div>
</div>


  <div class="container">
    <section class="bio-cv">
      <p class="title-cv">Resumé Download</p>
      <p class="p-cv">If you are a recruiter or just interested in a hard copu of my resumé as a PDF, you can download it by clicking the button below.</p>
      <a href="/assets/Thibault-Derennes-CV.pdf" class="p-cv btn-bio btn-lg" download>Download my CV</a>
    </section>
  </div>
</div>


