<div class="wrapper">
  <a id="education-jump"><p class="title-education">EDUCATION</p></a>
  <div class="container">
    <hr class="hr-timeline-edu hidden-xs hidden-sm hidden-md" >
    <div class="row edu">
        <div class="col-md-offset-1 col-md-6 edu-card">
          <hr class="hidden-lg hr-edu">
          <h3>Stanislas College</h3>
          <p class="edu-year">2014</p>
          <p class="edu-description">French Baccalaureate in Economics</p>
        </div>
        <div class="col-md-offset-5 col-md-6 edu-card">
          <hr class="hidden-lg hr-edu">
          <h3>McGill University</h3>
          <p class="edu-year">2016 - 2018</p>
          <p class="edu-description">Entrepreneurship certificate</p>
        </div>
        <div class="col-md-offset-1  col-md-6 edu-card">
          <hr class="hidden-lg hr-edu">
          <h3>Le Wagon</h3>
          <p class="edu-year">2017</p>
          <p class="edu-description">FullStack Developer Bootcamp</p>
        </div>
    </div>
  </div>
</div>



