<div class="wrapper xyz">
  <a id="experience-jump"><p class="title-experience">EXPERIENCES</p></a>
  <div class="container">
      <div class="row row-experiences">
          <div class="col-md-6 tile">
            <img src="/assets/unibook-project-2.png">
            <div class="text">
            <h1 class="animate-text">UNIBOOK</h1>
            <h2 class="animate-text"><a href="https://github.com/twentyfivemtl/unibook_app">LINK TO PROJECT</a></h2>
            <p class="animate-text text-justify">Educational platform for university students to exchange and communicate within their courses. (Side project)</p>
            </div>
          </div>
          <div class="col-md-offset-2 col-md-5 tile">
            <img src="/assets/portfolio-xxv.png">
            <div class="text">
            <h1 class="animate-text">PORTFOLIO XXV</h1>
            <h2 class="animate-text"><a href="https://github.com/twentyfivemtl/portfolio">LINK TO PROJECT</a></h2>
            <p class="animate-text text-justify">I decided to create a fully responsive portfolio on GitHub pages showcasing my experiences and projects while finishing Uni. You'll also find my skills, education and a direct link to my email. Twenty five is a personal brand where I build my projects on.</p>
            </div>
          </div>
          <div class="col-md-5 tile">
            <img src="/assets/wasis-card.png">
            <div class="text">
            <h1 class="animate-text">WASIS</h1>
            <h2 class="animate-text"><a href="https://www.wasis.top/">LINK TO PROJECT</a></h2>
            <p class="animate-text text-justify">WASIS was the final project at the end of LeWagon Montreal realized by teams of four in a two-week time frame. We applied most of what we learned during the first 7 weeks in those final 2 weeks. WASIS is a web app to find workplaces around you with specific criteria. Go have a look!</p>
            </div>
          </div>
          <div class="col-md-offset-2 col-md-5 tile">
            <img src="/assets/cosmeeter-card.png">
            <div class="text">
            <h1 class="animate-text">COSMEETER</h1>
            <h2 class="animate-text"><a href="https://github.com/marcusbey/cosmeeter">LINK TO PROJECT</a></h2>
            <p class="animate-text text-justify">Cosmeeter was the first group project we did during the boot camp. It was completed within a week of work as a team of four working from 11:00am to 06:00pm. The project was to produce a look-a-like AirBnB. Link is to GitHub, the project runs locally.</p>
            </div>
          </div>
          <div class="col-md-5 tile">
            <img src="/assets/ubisoft-card.png">
            <div class="text">
            <h1 class="animate-text">MARKETING INTERN</h1>
            <h2 class="animate-text"><a href="https://www.ubisoft.com/en-US/office/uk.aspx">LINK TO PROJECT</a></h2>
            <p class="animate-text text-justify">In September of 2015, I went to London as an intern for Ubisoft UK, serving the EMEA. I worked on major franchises like Farcry and Assassin's Creed. I also work to set up  a few PR events. For more information, please find my CV attached at the bottom of the page.</p>
            </div>
          </div>
      </div>
  </div>
</div>





