<!-- NAVBAR -->
  <div class="navbar-portfolio navbar-fixed">
    <!-- Portfolio brand name-->
    <h2 class="brandname"><strong>TWENTY FIVE</strong></h2>
    <div class="navbar-right hidden-xs hidden-sm">
      <a href="#bio-jump" class="navbar-item navbar-link">Bio</a>
      <a href="#project-jump" class="navbar-item navbar-link">Projects</a>
      <a href="#skills-jump" class="navbar-item navbar-link">Skills</a>
      <a href="#education-jump" class="navbar-item navbar-link">Education</a>
      <a href="#contact-jump" class="btn-navbar-contact">Contact</a>
    </div>


   <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">

      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><a href="#bio-jump">Bio</a></li>
        <li><a href="#experience-jump">Experience</a></li>
        <li><a href="#skills-jump">Skills</a></li>
        <li><a href="#education-jump">Education</a></li>
        <li><a href="mailto:t.derennes2@gmail.com">Contact</a></li>
      </ul>
    </div>
  </div>
  </div>


  <script>
    $(function () {
        // hide .navbar first
        $(".navbar-portfolio").hide();
        // fade in .navbar
        $(function () {
          $(window).scroll(function () {
                  // set distance user needs to scroll before we fadeIn navbar
                  if ($(this).scrollTop() > 852) {
                    $('.navbar-portfolio').fadeIn("slow");
                  } else {
                    $('.navbar-portfolio').fadeOut("slow");
                  }
                });
        });
      });
    </script>
