<div class="wrapper">
  <a id="skills-j"><p class="title-skills">SKILLS</p></a>
  <div class="container">
    <div class="row row-skills">
        <div class="col-xs-6 col-md-3 skills-card">
          <img class="skills-logo hidden-xs" src="/assets/ruby.png" alt="">
          <p class="skills-name">RUBY</p>
        </div>
        <div class="col-xs-6 col-md-3 skills-card">
          <img class="skills-logo hidden-xs" src="/assets/github.png" alt="">
          <p class="skills-name">GITHUB</p>
        </div>
        <div class="col-xs-6 col-md-3 skills-card">
          <img class="skills-logo hidden-xs" src="/assets/oop.png" alt="">
          <p class="skills-name">OOP</p>
        </div>
        <div class="col-xs-6 col-md-3 skills-card">
          <img class="skills-logo hidden-xs" src="/assets/sql.png" alt="">
          <p class="skills-name">SQL</p>
        </div>
        <div class="col-xs-6 col-md-3 skills-card">
          <img class="skills-logo hidden-xs" src="/assets/html5.png" alt="">
          <p class="skills-name">HTML5</p>
        </div>
        <div class="col-xs-6 col-md-3 skills-card">
          <img class="skills-logo hidden-xs" src="/assets/css3.png" alt="">
          <p class="skills-name">CSS3</p>
        </div>
        <div class="col-xs-6 col-md-3 skills-card">
          <img class="skills-logo hidden-xs" src="/assets/js.png" alt="">
          <p class="skills-name">JAVASCRIPT</p>
        </div>
        <div class="col-xs-6 col-md-3 skills-card">
          <img class="skills-logo hidden-xs" src="/assets/rails.png" alt="">
          <p class="skills-name">RAILS</p>
        </div>
        <div class="col-xs-6 col-md-3 skills-card">
          <img class="skills-logo hidden-xs" src="/assets/heroku.png" alt="">
          <p class="skills-name">HEROKU</p>
        </div>
        <div class="col-xs-6 col-md-3 skills-card">
          <img class="skills-logo hidden-xs" src="/assets/adobe-xd.png" alt="">
          <p class="skills-name">ADOBE EXPERIENCE</p>
        </div>
        <div class="col-xs-6 col-md-3 skills-card">
          <img class="skills-logo hidden-xs" src="/assets/adobe-ai.png" alt="">
          <p class="skills-name">ADOBE ILLUSTRATOR</p>
        </div>
    </div>
  </div>
</div>

