.banner {
  text-align: center;
  display: flex;
  flex-items: column;
  align-items: center;
  justify-content: center;
}

.name-banner {
  font-family: 'Open Sans', sans-serif;
  font-size: 75px !important;
  font-weight: bold;
  color: white;
}

.banner-description {
  // font-size: 25px !important;
  // font-weight: lighter;
  // color: rgb(255, 255, 255);
  // opacity: 0.8;
  // margin-bottom: 100px !important;
}

.btn-banner {
  color: #F6F5F5;
  border: 1px solid #F6F5F5;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 30px;
  cursor: pointer;
}

.btn-banner:hover{
  color: #902F40;
  text-decoration: none;
  background-color: #F6F5F5;
}

/* MOUSE SCROLLING */
.mouse {
  border: 1px solid #F6F5F5;
  border-radius: 13px;
  bottom: 40px;
  display: block;
  height: 46px;
  left:51%;
  margin: 0 auto 0 -26px;
  position: relative;
  width: 26px;
}

.mouse span {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: scroll;
  background: none repeat scroll 0 0 #F6F5F5;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  height: 4px;
  margin: 6px auto;
  width: 4px;
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

