/* BIO */
.title-bio {
  font-family: 'Abel', sans-serif;
  font-weight: lighter;
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
  color: white;
}

#bio-jump {
  text-decoration: none;
}

.container-bio {
  width: 1200px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avata {
 border-radius: 50%;
  height: 300px;
}

input.avatar-bio {
  border-radius: 50%;
  height: 300px;
  margin: 0px 25px;
  box-shadow: 0px 2.5px 5px 0px rgba(51,51,51,0.28);
  // background-size: cover;
  // background-position: center;
}

.p-bio {
  width: 2000px;
  font-family: 'Abel', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin: 0px 25px;
  color: white;
}

.p-last {
  text-align: right;
}


