/* EDUCATION */
#education-j {
  text-decoration: none;
}

.title-education {
  font-family: 'Abel', sans-serif;
  font-weight: lighter;
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
  color: white;
  margin-bottom: 100px;
}

.edu {
  text-align: center;
}

.edu-card {
  margin-bottom: 75px;
}

.edu h3 {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.edu-year {
  font-family: 'Abel', sans-serif;
  color: #EDECED
}

.edu-description {
  font-family: 'Abel', sans-serif;
  color: white;
  font-size: 20px;
}

.hr-timeline-edu {
  width: 662px;
  position: absolute;
  margin-top: 324px;
  margin-left: 250px;
  border: 2px solid;
  color: white;
  transform: rotate(90deg);
}

.hr-edu {
  width: 75px;
  border: 1px solid;
  color: white;
  text-align: center;
}
