.row-skills{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#skills-j {
  text-decoration: none;
}

.title-skills {
  font-family: 'Abel', sans-serif;
  font-weight: lighter;
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
  color: white;
  margin-bottom: 100px;
}

.skills-card {
  width: 180px;
  text-align: center;
  margin-right: 37px;
  margin-left: 37px;
  margin-bottom: 75px;
}

.skills-logo {
  height: 180px;
}

.skills-name {
  margin-top: 25px;
  font-family: 'Abel', sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 400;
  width: 180px;
}


